{% liquid
  assign justify_content = section.settings.justify_content
  assign text_align = section.settings.text_align
  assign title_size = section.settings.title_size
  assign display_paragraph = section.settings.display_paragraph
%}

<div class="logo-list-section">
  <div class="logo-list-container page-width justify-{{- justify_content -}}">
    {% for item in section.blocks %}
      <div class="logo-list-item text-{{- text_align -}}">
        {% if item.settings.logo %}
          <img src="{{ item.settings.logo | img_url: 'master' }}" alt="{{ item.settings.logo.alt }}">
        {% endif %}
        {% if item.settings.title != blank %}
          <h3 class="size-{{- title_size -}}">
            <b>{{ item.settings.title }}</b>
          </h3>
        {% endif %}
        <p class="paragraph-{{- display_paragraph -}}">{{ item.settings.text }}</p>
        <a href="{{ item.settings.link }}">{{ item.settings.link_text }}</a>
      </div>
    {% endfor %}

  </div>
</div>

{% schema %}
  {
    "name": "logo-list-section",
    "settings": [
      {
        "type": "header",
        "content": "Container settings"
      },
      {
        "type": "select",
        "id": "justify_content",
        "label": "Justify Content",
        "options": [
          {
            "label": "around",
            "value": "around"
          }, {
            "label": "between",
            "value": "between"
          }
        ],
        "default": "around"
      },
      {
        "type": "header",
        "content": "Item Settings"
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Text Align",
        "options": [
          {
            "label": "left",
            "value": "left"
          }, {
            "label": "center",
            "value": "center"
          }, {
            "label": "right",
            "value": "right"
          }
        ],
        "default": "left"
      }, {
        "type": "header",
        "content": "Title Settings"
      }, {
        "type": "select",
        "id": "title_size",
        "label": "Title Size",
        "options": [
          {
            "label": "small",
            "value": "small"
          }, {
            "label": "medium",
            "value": "medium"
          }, {
            "label": "large",
            "value": "large"
          }
        ],
        "default": "medium"
      }, {
        "type": "header",
        "content": "Paragraph Settings"
      }, {
        "type": "select",
        "id": "display_paragraph",
        "label": "Display Paragraph",
        "options": [
          {
            "label": "Inline",
            "value": "inline"
          }, {
            "label": "Block",
            "value": "block"
          }
        ],
        "default": "block"
      }
    ],
    "blocks": [
      {
        "name": "logo-list-item",
        "type": "block",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }, {
            "type": "text",
            "id": "link_text",
            "label": "Link Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo List section"
      }
    ]
  }
{% endschema %}